:root {
    --blue: #66C3F4;
    --dark: #1b1b1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--blue);
    background: linear-gradient(to right top,var(--dark),var(--blue));
    overflow: hidden;
}
.container {
    width: 66%;
    height: 66%;
    background: rgba(0, 0, 0, 0.75);
background: linear-gradient(to right top, rgba(0,0,0,0.75), rgba(0,0,0, 0.25));
    border-radius: 20px;
    position: relative;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: backdrop-filter: blur(4px);
}
.bg__img {
    position: absolute;
}

.bg__img--button {
    width: 20vw;
    height: 20vh;
    top: 0;
    right: 60%;
    animation: slideDown 5s linear infinite;
}

.bg__img--dots {
    top: 0;
    left: 50%;
    height: 75vh;
    animation: rotate 15s infinite linear;
}

.bg__img--logo {
    left: 0;
    top: 50%;
    width: 50%;
    opacity: .55;
    transform: translate(-50%, -50%);

}
@keyframes slideDown {
    from {transform: translateY(-30vh);}
    to {transform: translateY(100vh);}

}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
