:root {
    --blue: #66C3F4;
    --dark: #1b1b1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--blue);
    background: linear-gradient(to right top,var(--dark),var(--blue));
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.container {
    width: 66%;
    height: 66%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0,0,0,0.75), rgba(0,0,0, 0.25));
    padding: 32px 92px;
    border-radius: 20px;
    position: relative;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: backdrop-filter: blur(4px);
}
.bg__img {
    position: absolute;
}

.bg__img--button {
    width: 20vw;
    height: 20vh;
    top: 0;
    right: 60%;
    animation: slideDown 25s linear infinite;
}

.bg__img--dots {
    top: 0;
    left: 70vw;
    height: 95vh;
    animation: rotate 45s infinite linear;
}

.bg__img--logo {
    left: 0;
    top: 50%;
    width: 50%;
    opacity: .35;
    transform: translate(-50%, -50%);

}

h1 {
    padding-bottom: 12px;
    font-size: 48px;
}

p {
    font-size: 20px;
    font-weight: 400;
}

a {
    color: var(--blue);
    text-decoration: none;
    position: relative;
}

.link__border {
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--blue);
    background: linear-gradient(90deg, transparent, var(--blue));
    transition: width 0.3s;
}
a:hover .link__border {
    width: 100%;
}
@keyframes slideDown {
    from {transform: translateY(-30vh);}
    to {transform: translateY(100vh);}

}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
